* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.data-todo {
    min-height: 100vh;
    background-color: rgb(117, 201, 250);
    font-family: sans-serif;
    padding: 20px;
}

.data-todo-box {
    border-radius: 20px;
    max-width: 500px;
    background-color: white;
    padding: 40px 30px 70px;
    margin: 125px auto 20px;
}


.data-todo-title {
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    font-size: 10px;
    text-align: right;
    margin-bottom: 30px;
}

.data-todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 250, 250);
    border-radius: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
}

.data-todo-input {
    background-color: transparent;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
}

.data-todo-btn {
    border: none;
    outline: none;
    padding: 16px 30px;
    background-color: rgb(20, 59, 110);
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    color: rgb(255, 255, 255);
}


.data-todo-list {
    list-style-type: none;
}

.data-todo-list li{
    cursor: pointer;
    font-size: 18px;
    padding: 12px 10px 10px 50px;
    position: relative;
}

.data-todo-list li::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    top: 12px;
    left: 10px;
}


.data-todo-checker {
    color: #555;
    text-decoration: line-through;
}

.data-todo-checker::before{
    border-color: rgb(0, 255, 64);
    background-color: rgb(0, 255, 0);
}

.data-todo-checker::after{
    content: '\2714';
    position: absolute;
    top: 10px;
    left: 14px;
}

.data-todo-list li span{
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 22px;
    border-radius: 50%;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-todo-list li span:hover{
    background-color: #f1f1f1;
}

