* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #551e69 0%, #0f1429 100%);
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #6aa0d627; /* Темно-синий фон */
    border-radius: 20px;
    padding: 20px 20px;
    margin: 20px;
    box-shadow: 0 20px 30px rgba(44, 62, 80, 0.15);
    position: sticky;
    z-index: 1000;
    border: 1px solid #34495e; /* Более темная граница */
    transition: all 0.3s ease;

}

header:hover {
    box-shadow: 0px 25px 40px rgba(44, 62, 80, 0.25);
    transform: translateY(-2px);
    background-color: #34495e; /* Немного светлее при наведении */
}

.todoAppTitle {
    font-size: 2.2rem;
    /* margin-left: 15px; */
    color: white; /* Белый текст для контраста */
    position: relative;
    display: inline-block;
}

.todoAppTitle::after,
.todoAppTitle::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.todoAppTitle::before {
    top: 0px;
    transform-origin: left;
}

.todoAppTitle:hover::after,
.todoAppTitle:hover::before {
    transform: scaleX(1);
}

.todoApp {
    background-color: rgba(226, 223, 223, 0.466);
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    padding: 10px 30px 70px;
    margin: 50px auto 50px;
    max-width: 500px;
    border-radius: 30px;
    /* border: 2px solid #bdc3c7; Серая граница */
    cursor: default;
    transition: all 0.3s ease;
}

.todoApp:hover {
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.514);
    transform: translateY(-2px);
}

.todoListH1 {
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 5px 0;
    margin-bottom: 20px;
}

.todoInputBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 250, 250);
    border-radius: 30px;
    margin-bottom: 30px;
    padding-left: 10px;

    .todoInput {
        background-color: transparent;
        padding: 10px;
        border: none;
        outline: none;
        font-size: 16px;
        width: 100%;
    }

    .todoInput::placeholder {
        color: rgba(0, 0, 0, 0.438);
        font-size: 18px;
        font-style: oblique;
    }
}

.todoListContainer {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 35px;
    gap: 20px;
    font-weight: 600;
}

.remove-btn{
    width: 110px;
    height: 100%;
    border-radius: 15px;
    background: #3f3f3f46;
    border: none;
    color: #61151575;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.todo-item span{
    pointer-events: none;
}

.todo-item.completed span{
    text-decoration: line-through;
}

.remove-btn.completed{
    width: 110px;
    height: 100%;
    border-radius: 15px;
    background: #fffffffb;
    border: none;
    color: #cf0c0cc9;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}